node_modules
.DS_Store
.pnpm-store
.env
.env.*
!.env.example
dist
build
.next
.netlify
coverage
.turbo
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
ios/Pods
android/.gradle
/uploads
/certificates
*.log
*.tsbuildinfo
*.apk
*.aab
*.ipa
netlify.md
render.md
run.md
